<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><style>
/*  */


/* Default settings for the page */

body {
    font-size: 14px;
    line-height: 1.4em;
    font-family: 'Open Sans', sans-serif;
}


/* Adds a border to the main table  */

table {
    border: 1px solid #A9A9A9;
}


/* Adds borders to the rows and columns */

table tr td {
    border: 1px solid #A9A9A9;
}


/* Adds padding to each cell */

table td {
    padding: 10px 0 10px 5px;
}


/* Forces the table to break if it is split between two pages */

table tr {
    page-break-inside: avoid !important;
}


/* Signature block - Probably best not to edit this */


/* Removes the border for the signature block */

table.signature-block {
    border: none;
}


/* Removes the border for the signature block rows  */

table.signature-block tr {
    border: none;
}


/* Adds in padding to the signature block cells */

table.signature-block td {
    padding: 7px;
}


/* Top Section */

table.top {
    border: none;
    width: 100%;
}

table.top tr {
    border: none;
}

table.top td {
    border: none;
    padding: 5px;
}

table.top td:first-child {
    width: 60%;
}


/* Section A,B & C */

table.section-abc {
    border: none;
    width: 100%;
}

table.section-abc tr {
    border: none;
}

table.section-abc td {
    border: none;
    padding: 5px;
}

table.section-abc td:first-child {
    width: 20%;
}

table.section-abc td:nth-child(2) {
    width: 40%;
}

table.section-abc td:nth-child(3) {
    width: 40%;
}


/* Section D */

table.section-d {
    border: none;
    width: 100%;
}

table.section-d tr {
    border: none;
}

table.section-d td {
    border: none;
    padding: 5px;
}

table.section-d td:first-child {
    width: 20%;
}


/* Section E - Engagement */

table.eng-table {
    border: none;
    width: 100%;
}

table.eng-table tr {
    border: none;
}

table.eng-table td {
    border: none;
    padding: 5px;
}

table.eng-table td:first-child {
    width: 10%;
}

table.eng-table td:nth-child(2) {
    width: 22.5%;
}

table.eng-table td:nth-child(3) {
    width: 22.5%;
}

table.eng-table td:nth-child(4) {
    width: 22.5%;
}


/* Section F */

table.section-f {
    border: none;
    width: 100%;
}

table.section-f tr {
    border: none;
}

table.section-f td {
    border: none;
    padding: 0px;
}

table.section-f td:first-child {
    border: none;
    width: 60%
}

table.section-f td:nth-child(2) td:nth-child(3) {
    border: none;
    width: 20%
}


/* Section H Peak Time & Showcase Premieres */

table.prem {
    border: none;
    width: 100%
}

table.prem td {
    border: none;
    padding: 5px;
}

table.prem td:first-child {
    width: 50%
}

table.prem td:nth-child(2) {
    width: 20%
}

table.prem td:nth-child(3) {
    width: 30%
}

table.prem {
    border: none;
    width: 100%
}


/* Rest of World (ex UK and US) TV or Nominated US TV Uses*/

table.option {
    border: none;
}

table.option td {
    border: none;
    padding: 5px;
}

table.option td:first-child {
    width: 75%
}

table.option td:nth-child(2) {
    width: 25%
}


/* Section H - Additional Uses Table */

table.section-h {
    border: 1px solid black;
    width: 100%
}

table.section-h td {
    padding: 5px;
    vertical-align: text-top;
}

table.section-h td:first-child {
    width: 50%
}

table.section-h td:nth-child(2) {
    width: 25%
}

table.section-h td:nth-child(3) {
    width: 25%
}


/* Section H - Options A & B */

table.ops {
    border: none;
    width: 100%
}

table.ops td {
    border: none;
    padding: 5px;
    vertical-align: text-top;
}

table.ops td:first-child {
    width: 40%
}

table.ops td:nth-child(2) {
    width: 15%
}

table.ops td:nth-child(3) {
    width: 30%
}

table.ops td:nth-child(4) {
    width: 15%
}


/* Section J - Rehearsal Period */

table.section-j {
    border: none;
    width: 100%
}

table.section-j td {
    border: none;
    padding: 5px;
    vertical-align: text-top;
    width: 25%
}


/* Frequently used CSS across all contract types */


/* When using the pre tage this wraps the text */

pre {
    white-space: pre-wrap;
}


/*  */

.indent {
    margin: 0 0 0 20px;
}


/*  */

.warning {
    font-weight: bold;
    color: #ff0000;
}


/*  */

.center {
    text-align: center;
}


/*  */

.right {
    text-align: right;
}


/*  */

.no-border {
    border: 0;
}


/*  */

.uppercase {
    text-transform: uppercase;
}


/* P */

</style>